

.container{
  width: 200px;
  height: 200px;
  background-color: rgb(134, 98, 98);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  align-items: center;
  justify-items: center;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top:50%;
  margin-top:-100px;

}
.square{
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
  
}
.square-red, .player1{
  background-color: red;
}
.square-blue, .player2{
  background-color: blue;
}
button{
  width: 80px;
  height: 30px;
  margin-left: 100px;
}
.winnerMessage{
  width: 500px;
  height: 100px;
  background-color: burlywood;
  margin-left: 150px;
}
